<div class="block mb-6 md:flex">
    <div class="w-full  max-w-150px">
        <a href=" /">
            <img class="rounded-full transform transition-all duration-150 hover:scale-105  "
                src="/assert/images/icon.jpg" alt="SeCheng" />
        </a>
    </div>
    <div class="flex-none pt-6 md:pt-1 md:flex-1 md:pl-20">
        <h1 class="text-5xl text-gray-900 font-bold leading-tight hover:text-black">
            <a href="/">SeCheng</a>
        </h1>
        <p class="text-gray-600">
            maybe simple blog? 🥲
        </p>
        <ul class="mt-6 uppercase tracking-wider">
            <li class="inline list-none pr-4">
                <a href="https://github.com/secheng722"
                    class="inline-block py-2 font-semibold text-xs text-gray-600 hover:text-black">
                    GitHub
                </a>
            </li>
            <li class="inline list-none pr-4">
                <a href="/" class="inline-block py-2 font-semibold text-xs text-gray-600 hover:text-black">
                    Blog
                </a>
            </li>
        </ul>
    </div>
</div>