<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assert/css/distmain.css" />

    <title>MyBlog</title>
</head>

<body>
    <div id="app" class="relative min-h-screen bg-white dark:bg-gray-800">
        {% block svg %}
        {% include "_svg.html" %}
        {% endblock svg %}
        <div class="p-24 relative max-w-screen-xl xs:p-24">
            {% block header %}
            {% include "_header.html" %}
            {% endblock header %}
            {% block blog %}
            {% endblock blog %}
        </div>
    </div>
</body>


</html>