{% extends "base.html" %} {% block blog %}

<div class="block pt-12 md:flex">
  <div class="pb-6 md:w-full md:max-w-150px md:p-0">
    <form method="post" > 
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          Username
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="username" type="text" placeholder="Username" name="username" 
        />
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Password 
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="password" type="password" 
        placeholder="Password"
        name="password" 
        />
      </div>
      <div>
        <input type="submit" value="Log In"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" />
      </div>
    </form>
  </div>
</div>

{% endblock %}
